PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/bokabarber?appName=Cluster0
LOCAL_MONGODB_URI=mongodb://localhost:27017/bokabarber
JWT_SECRET=your_jwt_secret_here

STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_RESTRICTED_KEY=rk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@bokabarber.se

# Required in Production Environments
CLIENT_URL=http://localhost:3000

